langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-groq==0.2.1
langchain-pinecone==0.2.0
langchain-huggingface==0.1.2
sentence-transformers
pinecone-client
streamlit
python-dotenv
pypdf
docx2txt